[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/yihui/hugo-xmin
[submodule "themes/hugo-xmin-tweak"]
	path = themes/hugo-xmin-tweak
	url = https://github.com/darachm/hugo-xmin.git
