<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
    <base href="{{ .Site.BaseURL }}">

  </head>

  <body>
    <nav>
{{if not .IsHome }}
    <ul class="menu"> 
{{end}}
{{if .IsHome }}
    <ul class="menu mainpage"> 
{{end}}

      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}" id="{{ .Name }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
<!--    <hr/>-->
    </nav>
